.mud-gantt {
    width: 100%;
    height: 100%;
    min-height: 100px;
    position: relative;
    overflow: hidden;

    --clr-normal: var(--mud-palette-surface);
    --clr-darken: var(--mud-palette-surface-darken);
    --clr-lighten: var(--mud-palette-surface-lighten);
    --clr-grid-lines: rgba(128,128,128,0.2);
    --clr-axis-background: var(--mud-palette-surface);
    --clr-event: #999;
    --clr-today: var(--mud-palette-info);

    background: var(--mud-palette-background);

    touch-action: none;
    overflow: hidden;
}

.mud-gantt.mud-color-primary {

    --clr-normal: var(--mud-palette-primary);
    --clr-darken: var(--mud-palette-primary-darken);
    --clr-lighten: var(--mud-palette-primary-lighten);
}
.mud-gantt.mud-color-secondary {

    --clr-normal: var(--mud-palette-secondary);
    --clr-darken: var(--mud-palette-secondary-darken);
    --clr-lighten: var(--mud-palette-secondary-lighten);
}
.mud-gantt.mud-color-tertiary {

    --clr-normal: var(--mud-palette-tertiary);
    --clr-darken: var(--mud-palette-tertiary-darken);
    --clr-lighten: var(--mud-palette-tertiary-lighten);
}
.mud-gantt.mud-color-error {

    --clr-normal: var(--mud-palette-error);
    --clr-darken: var(--mud-palette-error-darken);
    --clr-lighten: var(--mud-palette-error-lighten);
}
.mud-gantt.mud-color-success {
    --clr-normal: var(--mud-palette-success);
    --clr-darken: var(--mud-palette-success-darken);
    --clr-lighten: var(--mud-palette-success-lighten);
}

.mud-gantt ::deep rect {
    transition: opacity linear 100ms;
}

.mud-gantt ::deep text[data-type="axis-date"] {
    fill: var(--mud-palette-text-primary);
}

.mud-gantt ::deep text[data-subtype="year"] {
    font-weight: bold;
}

.mud-gantt ::deep text[data-subtype="day"] {
    opacity: 0.75;
}

/* Sat, Sun */
.mud-gantt ::deep text[data-day-of-week="6"], 
.mud-gantt ::deep text[data-day-of-week="7"] {
    fill: var(--mud-palette-error);
}

.mud-gantt ::deep rect[data-type="edge-left"], 
.mud-gantt ::deep rect[data-type="edge-right"] {
    fill: var(--clr-darken);
    cursor: ew-resize;
}
.mud-gantt.read-only ::deep rect[data-type="edge-left"], 
.mud-gantt.read-only ::deep rect[data-type="edge-right"] {
    fill: transparent;
    cursor: unset;
}

.mud-gantt ::deep path[data-type="progress-handle"] {
    fill: var(--mud-palette-gray-default);
    stroke: var(--mud-palette-white);
}


.mud-gantt ::deep path[data-type="progress-handle"]:hover {
    fill: var(--mud-palette-white);
}


.mud-gantt ::deep path[data-type="link-line"] {
    stroke: var(--mud-palette-gray-default);
    fill: none;
}
.mud-gantt ::deep path[data-type="link-arrow"] {
    fill: none;
    stroke: var(--mud-palette-gray-default);
}

.mud-gantt ::deep line[data-type="grid-line"] {
    stroke: var(--clr-grid-lines);
}

.mud-gantt ::deep rect[data-type="axis-background"] {
    fill: none;
}

.mud-gantt.mud-variant-filled ::deep rect[data-type="axis-background"] {
    fill: var(--clr-axis-background);
}


.mud-gantt.mud-variant-filled ::deep rect[data-type="task"] {
    fill: var(--clr-darken);
}
.mud-gantt.mud-variant-outlined ::deep rect[data-type="task"] {
    stroke: var(--mud-palette-lines-inputs);
    fill: var(--mud-palette-surface);
}
.mud-gantt.mud-variant-filled ::deep rect[data-type="task"][data-hover="true"] {
    fill: var(--clr-normal);
}
.mud-gantt.mud-variant-outlined ::deep rect[data-type="task"][data-hover="true"] {
    stroke: var(--clr-normal);
    stroke-width: 2;
}
.mud-gantt ::deep rect[data-type="progress"] {
    fill: var(--clr-normal);
}
.mud-gantt ::deep rect[data-type="progress"][data-hover="true"] {
    fill: var(--clr-lighten);
}

.mud-gantt ::deep text {
    dominant-baseline: text-before-edge;
    font: 10pt sans-serif;
    user-select: none;
    fill: var(--mud-palette-primary-text);
    pointer-events: none;
}

.mud-gantt.mud-size-small ::deep text {
    font-size: 8pt;
}

.mud-gantt.mud-size-large ::deep text {
    font-size: 12pt;
    font-weight: bold;
}

.mud-gantt ::deep text[data-type="progress-label"] {    
    dominant-baseline: text-after-edge;
    font: 8pt sans-serif;
    user-select: none;
    fill: var(--mud-palette-primary-text);
    pointer-events: none;
}


.mud-gantt.mud-size-large ::deep text[data-type="progress-label"] {
    font-size: 9pt;
}

.mud-gantt.mud-size-small ::deep text[data-type="progress-label"] {
    font-size: 7pt;
}

.mud-gantt ::deep text[data-type="event"] {    
    font: 8pt sans-serif;
    fill: var(--mud-palette-text-primary);
    pointer-events: none;
}

.mud-gantt ::deep line[data-type="today-line"] {
    stroke: var(--clr-today);
}

.mud-gantt ::deep line[data-type="event-line"] {
    stroke: var(--clr-event);
    stroke-dasharray: 5,5;
}

.mud-gantt ::deep path[data-type="event-shape"] {    
    fill: var(--clr-event);
}

.mud-gannt-container {
    position: relative;
}

[popover]:popover-open {
  position: absolute;
  inset: unset;
  margin: 0;
}